/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 body {
  height: 100%;
  background-image:linear-gradient(rgba(255,255,255, 0.70), rgba(255,255,255, 0.70)), url('../img/money-box.png');
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  overflow-y: scroll;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
form {
    text-align: center;
}
h1 {
  line-height: 5px;
  font-size: 58px;
  margin-bottom: 25px;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
h3 {
  line-height: 5px;
  font-size: 18px;
  margin-bottom: 12px;
}
ul {
  width: 100%;
  display: table;
  table-layout: fixed; /* optional, for equal spacing */
  border-collapse: collapse;
}
li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
a {
  display: block;
  width: 28px;
  outline: none;
}
h4 {
  margin-top: -40px;
  margin-right: 5px;
}
.color-grey {
  color: #999999;
}
.color-blue {
  color: #0078C1;
}
.color-light-blue {
  color: #116FB8;
}
.color-green {
  color: #558D01;
}
.color-sea {
  color: #009EFF;
}
.roundsScore {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.right {
  float: right;
}